@{
    Layout = "~/Pages/_Layout.cshtml";
    var data = ElectronD.Instance.Cetegories;
}
@using ElectronD = ElectronNET.WebApp.Domain.ElectronD;


<div>
    <div>
        <ul id="menu">
            <li><a id="menuDashBoard" class="active" href='javascript:;' onclick="OnClickDashBoard()">DashBoard</a></li>
            <li><a id="menuCategory" href='javascript:;' onclick="OnClickCategoryMenu()">Category</a></li>
            <li><a id="menuItem" href='javascript:;' onclick="OnClickMenuItem();">Menu Item</a></li>
            <li><a id="menuAddon" href='javascript:;' onclick="OnClickAddonItem();">Addon</a></li>
            <li><a id="menucart" class="fa fa-shopping-cart" style="background: mediumvioletred;">Cart</a></li>
        </ul>
    </div>
    <div>
    </div>
    <br />

    <div id="divDashBoard">
        <div class="grid-container">
            @if (data != null)
            {
                @foreach (var category in data)
                {
                    @if (category.MenuItems != null)
                    {
                        @foreach (var menuItem in category.MenuItems)
                        {
                            <div>
                                <div class="card">
                                    <h1>@menuItem.Name</h1>
                                    <p class="price">$@menuItem.Price</p>
                                    <p>@menuItem.Description</p>
                                    @*<p style="font-size: 20px;">Quantity: <input type="number" id="quantity+@menuItem.Id" min="1" class="number" style=" width:50px;font-size: 14px;height: 21px;" /></p>*@

                                    <div id="divkartadd_@menuItem.Id">
                                        @*<p><button class="cartbutton" id="addCart" itemid=@menuItem.Id categoryId=@category.Id itemname=@menuItem.Name itemprice=@menuItem.Price>Add to Cart</button></p>*@
                                        <p>
                                            <button class="cartbutton" id="addCart+@menuItem.Id" onclick="OnClickAddKart('@menuItem.Id','@category.Id','@menuItem.Name','@menuItem.Price')">Add to Cart</button>
                                        </p>
                                    </div>

                                    <div id="divincdec_@menuItem.Id" hidden>
                                        <button type='button' id='addCart_@menuItem.Id' onclick="OnClickMinus('@menuItem.Id','@category.Id','@menuItem.Name','@menuItem.Price')">-</button>
                                        <input type='number' id='kartItemNumber_@menuItem.Id' disabled class="selectedkartnumber" value='1'>
                                        <button type='button' id='removeCart_@menuItem.Id' onclick="OnClickAdd('@menuItem.Id','@category.Id','@menuItem.Name','@menuItem.Price')">+</button>&nbsp;

                                    </div>
                                </div>
                            </div>
                        }
                    }

                }
            }
        </div>
    </div>

    <div id="divcategory" hidden>
        <div id="divcategoryList">
            <div>
                <button id="btncategory" style="text-decoration: none; display: inline-block; cursor: pointer;float: right;" onclick="onClickCategoryAddNew()"> Add </button>
            </div>
            <br />
            <br />
            <div class="table-responsive">
                <table id="tblCategory" class="display table" width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (data != null && data.Count > 0)
                        {
                            @foreach (var item in data)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>

        <div id="divnewcategory" hidden>
            <label for="cname">Category Name:</label>
            <input type="text" id="cname"><br><br>
            <input id="btnCategorySubmit" type="submit" value="Submit">
            <input type="button" value="Cancel" onclick="onClickNewCategoryCancel()">
        </div>
    </div>

    <div id="divmenuitem" hidden>
        <div id="divmenuitemlist">
            <div>
                <button id="btnmenuitem" style="text-decoration: none; display: inline-block; cursor: pointer;float: right;" onclick="onClickMenuItemAddNew()"> Add </button>
            </div>
            <br />
            <br />
            <div class="table-responsive">
                <table id="tblMenuItem" class="display table" width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Category Id</th>
                            <th>Menu Item</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (data != null && data.Count > 0)
                        {
                            @foreach (var category in data)
                            {
                                @if (category.MenuItems != null)
                                {
                                    @foreach (var menuItem in category.MenuItems)
                                    {
                                        <tr id="row_@menuItem.Id">
                                            <td>@menuItem.Id</td>
                                            <td>@menuItem.CategoryId</td>
                                            <td>@menuItem.Name</td>
                                            <td>@menuItem.Price</td>
                                            <td>
                                                <button title="Delete" onclick="OnDeleteMenuItem('@menuItem.Id','@menuItem.CategoryId')">
                                                    <i class="fas fa-times" style="color:red"></i>
                                                </button>
                                                <button title="Edit" onclick="OnEditMenuItem('@menuItem.Id','@menuItem.CategoryId','@menuItem.Name','@menuItem.Price')">
                                                    <i class="fas fa-edit" style="font-size:18px;"></i>
                                                </button>
                                                <button title="Enable" onclick="OnEnableMenuItem()">
                                                    <i class="fa-solid fa-toggle-off"></i>
                                                </button>
                                                <button title="Disable" onclick="OnDisableMenuItem()">
                                                    <i class="fa-solid fa-toggle-on"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>

        <div id="divnewmenuitem" hidden>
            <input id="needToUpdateMenuItemId" type="hidden" />
            <label for="ddcategory">Choose a Category:</label>
            <select name="ddcategory" id="ddcategory">
                @if (data != null && data.Count > 0)
                {
                    @foreach (var item in data)
                    {
                        <option value=@item.Id>@item.Name</option>
                    }
                }

            </select><br><br>
            <label for="menuItemName">Menu Item Name:</label>
            <input type="text" id="menuItemName"><br><br>
            <label for="menuItemPrice">Price:</label>
            <input type="text" id="menuItemPrice"><br><br>
            <input id="btnMenuItemSubmit" type="button" value="Submit">
            <input type="button" hidden id="btnMenuItemUpdate" onclick="onClickUpdateManuItem()" value="Update">
            <input type="button" value="Cancel" onclick="onClickNewMenuItemCancel()">
        </div>
    </div>

    <div id="divAddonItem" hidden>
        <div id="divAddonItemlist">
            <div>
                <button id="btnAddonItem" style="text-decoration: none; display: inline-block; cursor: pointer;float: right;" onclick="onClickAddonItemAddNew()"> Add </button>
            </div>
            <br />
            <br />
            <div class="table-responsive">
                <table id="tblAddonItem" class="display table" width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Menu Item</th>
                            <th>Category</th>
                            <th>Addon Item</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (data != null && data.Count > 0)
                        {
                            @foreach (var category in data)
                            {
                                @if (category.MenuItems != null)
                                {
                                    @foreach (var menuItem in category.MenuItems)
                                    {
                                        @if (menuItem.AddonItems != null)
                                        {
                                            @foreach (var item in menuItem.AddonItems)
                                            {
                                                <tr>
                                                    <td>@item.Id</td>
                                                    <td>@item.CategoryId</td>
                                                    <td>@item.MenuItemId</td>
                                                    <td>@item.Name</td>
                                                    <td>@item.Price</td>
                                                </tr>
                                            }
                                        }
                                    }
                                }

                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>

        <div id="divNewAddonItem" hidden>
            <label for="ddAddonCategory">Choose a Category:</label>
            <select name="ddAddonCategory" id="ddAddonCategory">
                @if (data != null && data.Count > 0)
                {
                    @foreach (var item in data)
                    {
                        <option value=@item.Id>@item.Name</option>
                    }
                }
            </select><br><br>
            <label for="ddAddonItem">Choose Item Menu:</label>
            <select name="ddAddonItem" id="ddAddonItem">
                <option value="">Select</option>
            </select><br><br>
            <label for="addonItemName">Addon Name:</label>
            <input type="text" id="addonItemName"><br><br>
            <label for="addonItemPrice">Price:</label>
            <input type="text" id="addonItemPrice"><br><br>
            <input id="btnNewAddonItemSubmit" type="button" value="Submit">
            <input type="button" value="Cancel" onclick="onClickNewAddonItemCancel()">
        </div>
    </div>

</div>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.4/css/all.css">
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/brands.min.css">*@


<script type="text/javascript">
    const { ipcRenderer } = require("electron");
    (
        function() {
            const { ipcRenderer } = require("electron");
            window.addEventListener('load', function() {
                $('#tblCategory').dataTable();
                $('#tblMenuItem').dataTable({
                    "bAutoWidth": false,
                    "aoColumns": [
                        { "sWidth": "25%" },
                        { "sWidth": "25%" },
                        { "sWidth": "null" },
                        { "sWidth": "5%" },
                        { "sWidth": "15%" }
                    ]
                });
                $('#tblAddonItem').dataTable();

            }, false);

            document.getElementById("btnCategorySubmit").addEventListener("click", () => {
                let cname = $('#cname').val();
                ipcRenderer.send('new-category', cname);
            });

            ipcRenderer.on('new-category-success', (event, arg) => {
                alert("Record Added");
                var obj = JSON.parse(arg);
                let row = "<tr><td>" + obj.Id + "</td><td>" + obj.Name + "</td></tr>";
                $("#tblCategory tbody").append(row);
                //TODO $('#ddcategory').append("<option value="obj.Id">"obj.Name"</option>");
                onClickNewCategoryCancel();
            });

            document.getElementById("btnMenuItemSubmit").addEventListener("click", () => {
                $('#btnMenuItemSubmit').show();
                $('#btnMenuItemUpdate').hide();

                let menuItem = {
                    CategoryId: $('#ddcategory').val(),
                    Name: $('#menuItemName').val(),
                    Price: $('#menuItemPrice').val()
                };
                ipcRenderer.send('add-update-menu-item', JSON.stringify(menuItem));
            });

            ipcRenderer.on('add-update-menu-item-success', (event, arg) => {
                var obj = JSON.parse(arg);
                $('#row_' + obj.Id).hide();
                //let row = "<tr id='row_" + obj.Id + "'><td>" + obj.Id + "</td><td>" + obj.CategoryId + "</td><td>" + obj.Name + "</td><td>" + obj.Price + "</td></tr>"
                let row = '<tr id="row_\\' + obj.Id + '\' > <td>' + obj.Id + ' < /td><td>' + obj.CategoryId + '</td > <td>' + obj.Name + ' < /td><td>' + obj.Price + '</td ><td><button title="Delete" onclick="OnDeleteMenuItem(\\' + obj.Id + '\',\'' + obj.CategoryId + '\')"><i class="fas fa-times" style="color:red"></i></button><button title="Edit" onclick = "OnEditMenuItem(\\' + obj.Id + '\',\\' + obj.CategoryId + '\',\\' + obj.Name + '\',\\' + obj.Price + '\')" > <i class="fas fa-edit" style = "font-size:18px;"> </i></button>';
                //let row = '<tr id="row_' + obj.Id + ' > <td>' + obj.Id + ' < /td><td>' + obj.CategoryId + '</td > <td>' + obj.Name + ' < /td><td>' + obj.Price + '</td ><td><button title="Delete" onclick="OnDeleteMenuItem(' + obj.Id + ',' + obj.CategoryId + ')"><i class="fas fa-times" style="color:red"></i></button><button title="Edit" onclick = "OnEditMenuItem(' + obj.Id + ',' + obj.CategoryId + ',\\' + obj.Name + ',' + obj.Price + ')" > <i class="fas fa-edit" style = "font-size:18px;"> </i></button>';

                //let htmlrow = '<tr id='row_" + obj.Id + "'><td>" + obj.Id + "</td><td>" + obj.CategoryId + "</td><td>" + obj.Name + "</td><td>" + obj.Price + "</td>'
                //    + 'src="' + cetegoryItems[i].MenuItems[j].Picture + '" alt="Alps"><p><b>' + cetegoryItems[i].MenuItems[j].Name + '</b> </p><p> $' + cetegoryItems[i].MenuItems[j].Price + '</p>'
                //    + '<button class="btn" id="btnAdd"'
                //    + 'onclick="AddItem(\'' + cetegoryItems[i].MenuItems[j].Id + '\',\'' + cetegoryItems[i].MenuItems[j].CategoryId + '\',\'' + cetegoryItems[i].MenuItems[j].Name + '\',\'' + cetegoryItems[i].MenuItems[j].Price + '\')">Add</button> </div>';

                $("#tblMenuItem tbody").append(row);
                $('#row_' + obj.Id + 'td:nth-child(4)').html(obj.Price);


                alert("Record Added");
                onClickNewMenuItemCancel();
            });

            document.getElementById("ddAddonCategory").addEventListener("change", (e) => {
                let categoryGuidId = $('#ddAddonCategory').val();
                ipcRenderer.send('get-menu-basedon-category', categoryGuidId);
            });
            ipcRenderer.on('get-menu-basedon-category-success', (event, arg) => {
                var menuItems = JSON.parse(arg);
                $('#ddAddonItem').empty()

                for (var j = 0; j < menuItems.length; j++) {
                    $("#ddAddonItem").append("<option value=" + menuItems[j].Id + ">" + menuItems[j].Name + "</option>");
                };
            });

            document.getElementById("btnNewAddonItemSubmit").addEventListener("click", () => {

                let addonItem = {
                    CategoryId: $('#ddAddonCategory').val(),
                    MenuItemId: $('#ddAddonItem').val(),
                    Name: $('#addonItemName').val(),
                    Price: $('#addonItemPrice').val()
                };
                ipcRenderer.send('new-addon-item', JSON.stringify(addonItem));
            });

            ipcRenderer.on('new-addon-item-success', (event, arg) => {
                alert("Record Added");
                var addonItem = JSON.parse(arg);
                let row = "<tr><td>" + addonItem.Id + "</td><td>" + addonItem.CategoryId + "</td><td>" + addonItem.MenuItemId + "</td><td>" + addonItem.Name + "</td><td>" + addonItem.Price + "</td></tr>";

                $("#tblAddonItem tbody").append(row);
                onClickNewAddonItemCancel();
            });

            document.getElementById("menucart").addEventListener("click", (e) => {
                e.preventDefault();
                ipcRenderer.send('cart-items', JSON.stringify(KartDataList));
            });
        }());
    var KartDataList = [];
    function onClickCategoryAddNew() {
        $('#cname').val('');
        $('#divcategoryList').hide();
        $('#divnewcategory').show();
    }
    function onClickNewCategoryCancel() {
        $('#divcategoryList').show();
        $('#divnewcategory').hide();
    }
    function onClickCategorySubmit() {
        let cname = $('#cname').val();
        ipcRenderer.send('new-category', cname);
    }

    function OnClickMenuItem() {
        $('#divDashBoard').hide();
        $('#divcategory').hide();
        $('#divAddonItem').hide();
        $('#divmenuitem').show();
        ActiveMenu('menuItem');
    }
    function onClickMenuItemAddNew() {
        $('#divmenuitemlist').hide();
        $('#divnewmenuitem').show();
    }
    function onClickNewMenuItemCancel() {

        $('#divnewmenuitem').hide();
        $('#divmenuitemlist').show();
    }

    function OnClickAddonItem() {
        $('#divDashBoard').hide();
        $('#divcategory').hide();
        $('#divmenuitem').hide();
        $('#divAddonItem').show();
        ActiveMenu('menuAddon');
    }

    function onClickAddonItemAddNew() {
        $('#ddAddonItem').val('');
        $('#addonItemName').val('');
        $('#addonItemPrice').val('');

        $('#divAddonItemlist').hide();
        $('#divNewAddonItem').show();
    }

    function onClickNewAddonItemCancel() {
        $('#divNewAddonItem').hide();
        $('#divAddonItemlist').show();
    }

    function OnClickCategoryMenu() {
        $('#divcategory').show();
        $('#divDashBoard').hide();
        $('#divmenuitem').hide();
        $('#divAddonItem').hide();
        ActiveMenu('menuCategory');
    }

    function OnClickDashBoard() {
        $('#divDashBoard').show();
        $('#divcategory').hide();
        $('#divmenuitem').hide();
        $('#divAddonItem').hide();
        ActiveMenu('menuDashBoard');
    }

    function ActiveMenu(element) {
        $('#menu li a.active').toggleClass('active');
        $('#' + element).addClass('active');
    }
    function OnClickAddKart(menuItemId, categoryId, menuItemName, menuItemPrice) {
        $('#divkartadd_' + menuItemId).hide();
        $('#divincdec_' + menuItemId).show();
        let cartObj = {
            Id: menuItemId,
            CategoryId: categoryId,
            Name: menuItemName,
            Price: menuItemPrice,
            Quantity: parseInt($('#kartItemNumber_' + menuItemId).val())
        };
        AddOrUpdateKartList(cartObj);
    }
    function OnClickMinus(menuItemId, categoryId, menuItemName, menuItemPrice) {
        let kartvalue = parseInt($('#kartItemNumber_' + menuItemId).val());

        if (kartvalue <= 1) {
            $('#divkartadd_' + menuItemId).show();
            $('#divincdec_' + menuItemId).hide();
            let needToRemove = KartDataList.find(x => x.Id == menuItemId);
            KartDataList.splice($.inArray(needToRemove, KartDataList), 1);
        }
        else {
            $('#kartItemNumber_' + menuItemId).val(kartvalue - 1);
            let cartObj = {
                Id: menuItemId,
                CategoryId: categoryId,
                Name: menuItemName,
                Price: menuItemPrice,
                Quantity: parseInt($('#kartItemNumber_' + menuItemId).val())
            };
            AddOrUpdateKartList(cartObj);
        }
    }
    function OnClickAdd(menuItemId, categoryId, menuItemName, menuItemPrice) {
        let kartvalue = parseInt($('#kartItemNumber_' + menuItemId).val());
        $('#kartItemNumber_' + menuItemId).val(kartvalue + 1);
        let cartObj = {
            Id: menuItemId,
            CategoryId: categoryId,
            Name: menuItemName,
            Price: menuItemPrice,
            Quantity: parseInt($('#kartItemNumber_' + menuItemId).val())
        };
        AddOrUpdateKartList(cartObj);
    }
    function AddOrUpdateKartList(cartObj) {

        let isExist = KartDataList.findIndex(x => x.Id === cartObj.Id);
        if (isExist >= 0) {
            for (var j = 0; j < KartDataList.length; j++) {
                if (KartDataList[j].Id == cartObj.Id) {
                    KartDataList[j].Quantity = cartObj.Quantity;
                }
            };
        } else {
            KartDataList.push(cartObj);
        }
    }

    function OnDeleteMenuItem(menuItemId, categoryId) {
        let menuItem = {
            Id: menuItemId,
            CategoryId: categoryId,
            IsDeleted: true
        };
        ipcRenderer.send('delete-menu-item', JSON.stringify(menuItem));
    }
    ipcRenderer.on('delete-menu-item-success', (event, arg) => {
        var menuItem = JSON.parse(arg);
        $('#row_' + menuItem.Id).hide();
        alert("Record Deleted");

    });

    function OnEditMenuItem(menuItemId, categoryId, name, price) {
        $('#divmenuitemlist').hide();
        $('#divnewmenuitem').show();

        $('#needToUpdateMenuItemId').val(menuItemId);
        $('#ddcategory').val(categoryId);
        $('#menuItemName').val(name);
        $('#menuItemPrice').val(price);

        $('#btnMenuItemSubmit').hide();
        $('#btnMenuItemUpdate').show();
    }

    function onClickUpdateManuItem() {
        let menuId = $('#needToUpdateMenuItemId').val();
        if (menuId != '') {
            let menuItem = {
                Id: menuId,
                CategoryId: $('#ddcategory').val(),
                Name: $('#menuItemName').val(),
                Price: $('#menuItemPrice').val()
            };
            ipcRenderer.send('add-update-menu-item', JSON.stringify(menuItem));
        }
    }

</script>

<style>
    .grid-container {
        display: display;
        flex-direction: column;
        overflow-x: auto;
        white-space: nowrap;
        padding: 1px;
        width: 100%;
        height: auto;
    }

        .grid-container > div {
            text-align: center;
            padding: 2px 0;
            font-size: 20px;
        }

            .grid-container > div > p {
                line-height: 5px;
            }


    .card {
        box-shadow: 0 4px 2px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 200px;
        border-radius: 5px;
        float: left;
        flex: 0 0 250px;
        margin-right: 6px;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1.5);
        }

    .price {
        color: grey;
        font-size: 22px;
    }

    .cartbutton {
        border: none;
        outline: 0;
        padding: 5px;
        color: white;
        background-color: #04AA6D;
        text-align: center;
        cursor: pointer;
        font-size: 18px;
        height: 30px;
    }

    .card button:hover {
        opacity: 0.7;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            li a:hover:not(.active) {
                background-color: #111;
            }

    .active {
        background-color: #04AA6D;
    }


    .incrementdecrentbutton {
        height: 20px;
        padding: 4px;
    }


    .selectedkartnumber {
        width: 40px;
        height: 20px;
        font-size: 15px;
    }
</style>